.App {
  max-width: 600px;
  margin: 10px auto;
}
.App footer {
  color: #2167af;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  margin-top: 1px;
}

.App footer a {
  text-decoration: none;
}
