.Search .d-flex {
  flex-direction: column;
  text-align: center;
}

.Search .flex-row {
  align-items: center;
}

.Search #search-icon {
  border-radius: 20px 0 0 20px;
  background: #e9ebee;
  width: 50px;
  text-align: center;
  position: relative;
  left: 4px;
}

.Search #search-icon:hover {
  background: #80888f;
  cursor: pointer;
}

.Search #city-input {
  border-radius: 0 20px 20px 0;
  width: 335px;
  padding-left: 10px;
  position: relative;
  left: 10px;
}

.Search #current-location {
  border-radius: 20px;
  background: #2166b1;
  color: #ffffff;
  border: 1.5px solid #175289;
  font-size: smaller;
  font-weight: 600;
  padding: 8px 10px;
  position: relative;
  left: 40px;
}
