.Weather {
  border: 1px solid #ced4da;
  border-radius: 10px;
  background-image: url("./images/sky.jpg");
  background-size: cover;
  background-color: #2368b3;
  padding: 15px;
}

.Weather h5 {
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
}

.Weather .d-flex {
  flex-direction: column;
  text-align: center;
}

.Weather .flex-row {
  align-items: center;
}

.Weather #search-icon {
  border-radius: 20px 0 0 20px;
  background: #e9ebee;
  width: 50px;
  text-align: center;
  position: relative;
  left: 4px;
}

.Weather #search-icon:hover {
  background: #80888f;
  cursor: pointer;
}

.Weather #city-input {
  border-radius: 0 20px 20px 0;
  width: 380px;
  padding-left: 10px;
  position: relative;
  left: 10px;
}

.Weather #current-location {
  background: transparent;
  color: #ffffff;
  border: transparent;
  padding: 8px 10px;
  position: relative;
  left: 53px;
}
