.WeatherForecastDay #forecast-day {
  color: #ffffff;
  font-size: 15px;
  font-family: monospace;
}

.WeatherForecastDay #forecast-description {
  color: #041e60;
  font-size: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 2px;
  position: relative;
  top: -30px;
}

.WeatherForecastDay-temperatures {
  position: relative;
  top: -28px;
}

.WeatherForecastDay #forecast-max-temperature {
  color: #ffffff;
}

.WeatherForecastDay #forecast-min-temperature {
  color: #041e60;
}
